* {
  font-family: Arial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

h1 {
  padding-top: 30px;
  text-align: right;
  box-sizing: content-box;
}

h1, strong { 
  color: #1a405e;
}

ul {
  display: flex;
  flex-direction: column;  
}

ul li {  
  line-height: 25px;
}

nav ul {
  height: 125px;
  background: rgb(155, 155, 226);
  list-style-type: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.last {
  margin: 20px 0px 20px 0px;
  background: rgb(225, 250, 208);
}

.main {
  display: flex;
}

.navigation {
  width: 200px;
}

.text {
  width: 980px;
  line-height: 20px;
  padding-left: 20px;
}

p {
  text-indent: 40px;
}

.pfoo {
  margin-bottom: 20px;
  text-indent: 0px;
}

.pfoo:last-child {
  margin: 0;
}


.table {    
    border-collapse: collapse;
    width: 740px;
    font-family: sans-serif;
}

caption {
    font-size: 2em;
    font-weight: bold;
}

td, th{
    border: 1px solid rgb(67, 69, 168);
    padding: 4px 10px;
}

tr:nth-child(2n+1) {
    background: rgb(188 188 241);
}

iframe {
    border: 0;
}

textarea {
    width: 400px;
    height: 100px;
    resize: none;    
}

.row {
    padding: 2px;
}

